Repository Fetcharr/Fetcharr, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, build

.github/labeler.yml:

# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler.json

docs:
  - changed-files:
    - any-glob-to-any-file: 'docs/*'

enhancement:
  - head-branch: ['^feat\(', '^feat:']

bug-fix:
  - head-branch: ['^fix\(', '^fix:']

build:
  - changed-files:
    - any-glob-to-any-file:
      - .build/*
      - .github/workflows/*

docs: add `update_existing` section
  docs/docs/configuration/basic-setup.mdx
Labels: none

feat: ignore updating existing items, if configured
  src/Provider.Radarr/src/RadarrClient.cs
  src/Provider.Sonarr/src/SonarrClient.cs
Labels: none

docs: add `update_existing` section
  docs/docs/configuration/basic-setup.mdx
Labels: none

feat: add configuration option for skipping item updates
  config-schema.json
  fetcharr.example.yaml
  src/Models/src/Configuration/FetcharrServiceConfiguration.cs
Labels: none

feat: ignore updating existing items, if configured
  src/Provider.Radarr/src/RadarrClient.cs
  src/Provider.Sonarr/src/SonarrClient.cs
Labels: none

fix: prevent Fetcharr from adding existing items to services
  src/Provider.Radarr/src/RadarrClient.cs
  src/Provider.Sonarr/src/SonarrClient.cs
Labels: none

fix: prevent Fetcharr from adding existing items to services
  src/Provider.Radarr/src/RadarrClient.cs
  src/Provider.Sonarr/src/SonarrClient.cs
Labels: none

feat: Add `Publish` build step for creating ZIP-packages
  .build/Build.Environment.cs
  .build/Build.Publish.cs
  .dockerignore
  .gitignore
  .nuke/build.schema.json
Labels: build

fix: Fix invalid caching provider key
  src/Provider.Plex/src/Clients/PlexGraphQLClient.cs
Labels: none

ci: Add workflow matrix for Windows builds
  .build/Build.Release.cs
  .github/workflows/development.yml
  .github/workflows/release.yml
Labels: build

ci: Skip Docker build on Windows workflow
  .build/Build.Docker.cs
  .build/Build.Release.cs
  .github/workflows/development.yml
  .github/workflows/release.yml
Labels: build

style: Formatting
  .build/Build.Publish.cs
  .build/Build.Release.cs
Labels: build

feat: Add `Publish` build step for creating ZIP-packages
  .build/Build.Environment.cs
  .build/Build.Publish.cs
  .dockerignore
  .gitignore
  .nuke/build.schema.json
Labels: build

fix: Fix invalid caching provider key
  src/Provider.Plex/src/Clients/PlexGraphQLClient.cs
Labels: none

ci: Skip Docker build on Windows workflow
  .build/Build.Docker.cs
  .build/Build.Release.cs
  .github/workflows/development.yml
  .github/workflows/release.yml
Labels: build

ci: Add workflow matrix for Windows builds
  .build/Build.Release.cs
  .github/workflows/development.yml
  .github/workflows/release.yml
Labels: build

style: Formatting
  .build/Build.Publish.cs
  .build/Build.Release.cs
Labels: build

ci: Skip building Docker image on Windows workflow
  .github/workflows/release.yml
Labels: build

ci: Open asset stream correctly
  .build/Build.Release.cs
Labels: build

ci: Add logging statements to release step
  .build/Build.Release.cs
Labels: build

ci: Fix a reaaally awkward mistake.
  .github/workflows/release.yml
Labels: build

ci: Skip integration tests on Windows builds, as Docker is not available
  .github/workflows/release.yml
Labels: build

fix(plex): update watchlist API endpoint from August update
  src/Provider.Plex/src/PlexWatchlistClient.cs
Labels: none

docs: update `docusaurus` to `v3.8.1`
  docs/package-lock.json
  docs/package.json
Labels: docs

docs: update `docusaurus` to `v3.8.1`
  docs/package-lock.json
  docs/package.json
Labels: docs

fix(plex): update watchlist API endpoint from August update
  src/Provider.Plex/src/PlexWatchlistClient.cs
Labels: none

feat(config): added tags configuration to services
  fetcharr.example.yaml
  src/Models/src/Configuration/FetcharrServiceConfiguration.cs
Labels: none

feat(services): add tages to all added items
  src/Models/src/Configuration/FetcharrServiceConfiguration.cs
  src/Provider.Radarr/src/Models/RadarrTag.cs
  src/Provider.Radarr/src/RadarrClient.cs
  src/Provider.Sonarr/src/Models/SonarrTag.cs
  src/Provider.Sonarr/src/SonarrClient.cs
Labels: none

feat(services): add tages to all added items
  src/Models/src/Configuration/FetcharrServiceConfiguration.cs
  src/Provider.Radarr/src/Models/RadarrTag.cs
  src/Provider.Radarr/src/RadarrClient.cs
  src/Provider.Sonarr/src/Models/SonarrTag.cs
  src/Provider.Sonarr/src/SonarrClient.cs
Labels: none

feat(config): added tags configuration to services
  fetcharr.example.yaml
  src/Models/src/Configuration/FetcharrServiceConfiguration.cs
Labels: none
