Repository Fetcharr/Fetcharr, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, build

ci: Fix release workflow only running on 'develop' branch
  .github/workflows/release.yml
Labels: build

ci: Fix permission issues on `build.cmd`, `build.sh`
  build.cmd
  build.sh
Labels: none

ci: Add required permissions to release workflow
  .github/workflows/release.yml
Labels: build

ci: Add workaround for Docker always printing logs as errors
  .build/Build.Docker.cs
Labels: build

ci: Skip build on Test-target
  .build/Build.Compile.cs
  .build/Build.Test.cs
Labels: build

style: Formatting
  .build/Build.Docker.cs
Labels: build

Revert 'ci: Skip build on Test-target'
  .build/Build.Test.cs
Labels: build

ci: Add Docker login step to Release workflow
  .github/workflows/release.yml
Labels: build

feat(docker): Add multiarch support for AMD64, ARM and ARM64
  .build/Build.Docker.cs
  Dockerfile
Labels: build

feat(docker): Add multiarch support for AMD64, ARM and ARM64
  .build/Build.Docker.cs
  Dockerfile
Labels: build

chore: Update URLs to Github
  .build/Build.Docker.cs
  .build/Build.Release.cs
  src/API/src/config-schema.json
  src/API/src/config.example.yaml
Labels: build

ci: Add setup for buildx in Release workflow
  .github/workflows/release.yml
Labels: build

ci: Push Docker image directly on build
  .build/Build.Docker.cs
  .build/Build.Release.cs
Labels: build

ci: Only release on 'main' pushes
  .github/workflows/development.yml
  .github/workflows/release.yml
Labels: build

ci: Add setup for buildx in Development workflow
  .github/workflows/development.yml
Labels: build

docs: Add OSS boilerplate
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: none

docs: Add OSS boilerplate
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: none

ci: Change Docker tag format to be more general
  .build/Build.Docker.cs
Labels: build

chore: Update NUKE schema
  .nuke/build.schema.json
Labels: none

ci: Swap branch conditional
  .build/Build.Docker.cs
Labels: build

chore: Update NUKE schema
  .nuke/build.schema.json
Labels: none

ci: Change Docker tag format to be more general
  .build/Build.Docker.cs
Labels: build

ci: Swap branch conditional
  .build/Build.Docker.cs
Labels: build

ci: Use `MajorMinorPatch` for releases and tags instead of `SemVer`
  .build/Build.Release.cs
Labels: build

chore: Move config* to root
  config-schema.json
  config.example.yaml
Labels: none

docs: Update README to include configuration steps
  README.md
Labels: none

fix: Remove `config-schema.yaml` reference in API
  src/API/src/Fetcharr.API.csproj
Labels: none

feat: Add issue templates
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

ci: Add job for marking issues and PRs as stale
  .github/workflows/stale.yaml
Labels: build

feat: Add PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

chore: Add EditorConfig extension as recommendation
  .vscode/extensions.json
Labels: none

chore: Only ignore root-level `config.yaml` file
  .gitignore
Labels: none

chore: Add `global.json` file for .NET
  global.json
Labels: none

feat: Add PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

chore: Add EditorConfig extension as recommendation
  .vscode/extensions.json
Labels: none

chore: Only ignore root-level `config.yaml` file
  .gitignore
Labels: none

ci: Add job for marking issues and PRs as stale
  .github/workflows/stale.yaml
Labels: build

chore: Add `global.json` file for .NET
  global.json
Labels: none

feat: Add issue templates
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

docs: Add Gitbook
  .gitbook.yaml
  docs/README.md
  docs/getting-started/installation.md
  docs/support/need-help.md
  docs/using-fetcharr/config/README.md
  docs/using-fetcharr/config/filters.md
Labels: docs

.github/labeler.yml:

# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler.json

docs:
  - changed-files:
    - any-glob-to-any-file: 'docs/*'

enhancement:
  - head-branch: ['^feat\(', '^feat:']

bug-fix:
  - head-branch: ['^fix\(', '^fix:']

build:
  - changed-files:
    - any-glob-to-any-file:
      - .build/*
      - .github/workflows/*
