Repository Fetcharr/Fetcharr, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, build

.github/labeler.yml:

# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler.json

docs:
  - changed-files:
    - any-glob-to-any-file: 'docs/*'

enhancement:
  - head-branch: ['^feat\(', '^feat:']

bug-fix:
  - head-branch: ['^fix\(', '^fix:']

build:
  - changed-files:
    - any-glob-to-any-file:
      - .build/*
      - .github/workflows/*

docs: Add Gitbook
  .gitbook.yaml
  docs/README.md
  docs/getting-started/installation.md
  docs/support/need-help.md
  docs/using-fetcharr/config/README.md
  docs/using-fetcharr/config/filters.md
Labels: docs

docs: Initial version of docs page
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/configuration/_category_.json
  docs/docs/configuration/basic-setup.mdx
  docs/docs/configuration/config_examples.mdx
  docs/docs/configuration/filters.mdx
  docs/docs/configuration/index.mdx
  docs/docs/configuration/schema-validation.mdx
  docs/docs/getting-started/_category_.json
  docs/docs/getting-started/installation.mdx
  docs/docs/index.mdx
  docs/docs/support/_category_.json
  docs/docs/support/need-help.mdx
  docs/docusaurus.config.ts
  docs/getting-started/installation.md
  docs/package-lock.json
  docs/package.json
  docs/sidebars.ts
  docs/src/css/custom.css
  docs/static/.nojekyll
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/tsconfig.json
  docs/using-fetcharr/config/README.md
  docs/using-fetcharr/config/filters.md
Labels: docs

chore: Enable word-wrap on Markdown files
  .vscode/settings.json
Labels: none

fix(docx): Fix broken link in 'Need help'
  docs/docs/support/need-help.mdx
Labels: none

fix(docx): Fix incorrect base URL
  docs/docusaurus.config.ts
Labels: docs

ci(docs): Add workflows for deploying to Github Pages
  .github/workflows/deploy-docs.yml
  .github/workflows/test-docs.yml
Labels: build

fix(docs): Correct case-sensitive base URL
  docs/docusaurus.config.ts
Labels: docs

ci: Only build Docker dev image when C# source changed
  .github/workflows/development.yml
Labels: build

fix(docx): Fix broken link in 'Need help'
  docs/docs/support/need-help.mdx
Labels: none

chore: Enable word-wrap on Markdown files
  .vscode/settings.json
Labels: none

fix(docx): Fix incorrect base URL
  docs/docusaurus.config.ts
Labels: docs

docs: Initial version of docs page
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/configuration/_category_.json
  docs/docs/configuration/basic-setup.mdx
  docs/docs/configuration/config_examples.mdx
  docs/docs/configuration/filters.mdx
  docs/docs/configuration/index.mdx
  docs/docs/configuration/schema-validation.mdx
  docs/docs/getting-started/_category_.json
  docs/docs/getting-started/installation.mdx
  docs/docs/index.mdx
  docs/docs/support/_category_.json
  docs/docs/support/need-help.mdx
  docs/docusaurus.config.ts
  docs/getting-started/installation.md
  docs/package-lock.json
  docs/package.json
  docs/sidebars.ts
  docs/src/css/custom.css
  docs/static/.nojekyll
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/tsconfig.json
  docs/using-fetcharr/config/README.md
  docs/using-fetcharr/config/filters.md
Labels: docs

fix(docs): Correct case-sensitive base URL
  docs/docusaurus.config.ts
Labels: docs

ci: Only build Docker dev image when C# source changed
  .github/workflows/development.yml
Labels: build

ci(docs): Add workflows for deploying to Github Pages
  .github/workflows/deploy-docs.yml
  .github/workflows/test-docs.yml
Labels: build

ci: Define package lock file path
  .github/workflows/deploy-docs.yml
Labels: build

ci: Add Workflow dispatch ability to docs workflows
  .github/workflows/deploy-docs.yml
  .github/workflows/test-docs.yml
Labels: build

ci: Define artifact path correctly
  .github/workflows/deploy-docs.yml
Labels: build

fix: Go back to lowercase Fetcharr repo name
  docs/docusaurus.config.ts
Labels: docs

ci: Delete redundant Gitbooks config file
  .gitbook.yaml
Labels: none

feat(config): Add options for secrets and environment variables on `fetcharr.yaml`
  .vscode/settings.json
  config-schema.json
  src/API/src/Configuration/ConfigurationParser.cs
  src/API/src/Fetcharr.API.csproj
  src/API/src/Program.cs
  src/API/src/Services/StartupInformationService.cs.cs
  src/Configuration/src/EnvironmentVariables/EnvironmentVariableDeserializer.cs
  src/Configuration/src/EnvironmentVariables/Exceptions/EnvironmentVariableNotFoundException.cs
  src/Configuration/src/EnvironmentVariables/Extensions/DeserializerBuilderExtensions.cs
  src/Configuration/src/Exceptions/DuplicateServiceKeyException.cs
  src/Configuration/src/Extensions/IServiceCollectionExtensions.cs
  src/Configuration/src/Fetcharr.Configuration.csproj
  src/Configuration/src/Parsing/ConfigurationLocator.cs
  src/Configuration/src/Parsing/ConfigurationMerger.cs
  src/Configuration/src/Parsing/ConfigurationParser.cs
  src/Configuration/src/Parsing/ServiceInstanceNodeDeserializer.cs
  src/Configuration/src/Secrets/Exceptions/SecretValueNotFoundException.cs
  src/Configuration/src/Secrets/Extensions/DeserializerBuilderExtensions.cs
  src/Configuration/src/Secrets/SecretsDeserializer.cs
  src/Configuration/src/Secrets/SecretsProvider.cs
  src/Configuration/src/Validation/Extensions/IServiceCollectionExtensions.cs
  src/Configuration/src/Validation/IValidationRule.cs
  src/Configuration/src/Validation/Rules/PlexTokenValidationRule.cs
  src/Configuration/src/Validation/Rules/ServiceValidationRule.cs
  src/Configuration/src/Validation/ValidationPipeline.cs
  src/Configuration/src/Validation/ValidationResult.cs
  src/Fetcharr.sln
  src/Models/src/Configuration/AppDataSetup.cs
  src/Models/src/Configuration/ConfigurationInclude.cs
  src/Models/src/Configuration/FetcharrConfiguration.cs
  src/Models/src/Environment.cs
  src/Models/src/Extensions/IServiceCollectionExtensions.cs
  src/Provider.Plex/src/PlexClient.cs
  src/Provider.Plex/src/PlexMetadataClient.cs
  src/Provider.Plex/src/PlexWatchlistClient.cs
  src/Provider.Radarr/src/RadarrClientCollection.cs
  src/Provider.Sonarr/src/SonarrClientCollection.cs
Labels: none

docs: Update docs to reflect config-file name change
  .gitignore
  README.md
  docker-compose.yml
  docs/docs/configuration/basic-setup.mdx
  docs/docs/configuration/config_examples.mdx
  docs/docs/configuration/filters.mdx
  fetcharr.example.yaml
Labels: none

style: Format SQL migrations
  .build/Build.Format.cs
  src/Cache/SQLite/src/Migrations/20240724145919_InitialMigration.cs
Labels: build

style: Format SQL migrations
  .build/Build.Format.cs
  src/Cache/SQLite/src/Migrations/20240724145919_InitialMigration.cs
Labels: build

docs: Update docs to reflect config-file name change
  .gitignore
  README.md
  docker-compose.yml
  docs/docs/configuration/basic-setup.mdx
  docs/docs/configuration/config_examples.mdx
  docs/docs/configuration/filters.mdx
  fetcharr.example.yaml
Labels: none

feat(config): Add options for secrets and environment variables on `fetcharr.yaml`
  .vscode/settings.json
  config-schema.json
  src/API/src/Configuration/ConfigurationParser.cs
  src/API/src/Fetcharr.API.csproj
  src/API/src/Program.cs
  src/API/src/Services/StartupInformationService.cs.cs
  src/Configuration/src/EnvironmentVariables/EnvironmentVariableDeserializer.cs
  src/Configuration/src/EnvironmentVariables/Exceptions/EnvironmentVariableNotFoundException.cs
  src/Configuration/src/EnvironmentVariables/Extensions/DeserializerBuilderExtensions.cs
  src/Configuration/src/Exceptions/DuplicateServiceKeyException.cs
  src/Configuration/src/Extensions/IServiceCollectionExtensions.cs
  src/Configuration/src/Fetcharr.Configuration.csproj
  src/Configuration/src/Parsing/ConfigurationLocator.cs
  src/Configuration/src/Parsing/ConfigurationMerger.cs
  src/Configuration/src/Parsing/ConfigurationParser.cs
  src/Configuration/src/Parsing/ServiceInstanceNodeDeserializer.cs
  src/Configuration/src/Secrets/Exceptions/SecretValueNotFoundException.cs
  src/Configuration/src/Secrets/Extensions/DeserializerBuilderExtensions.cs
  src/Configuration/src/Secrets/SecretsDeserializer.cs
  src/Configuration/src/Secrets/SecretsProvider.cs
  src/Configuration/src/Validation/Extensions/IServiceCollectionExtensions.cs
  src/Configuration/src/Validation/IValidationRule.cs
  src/Configuration/src/Validation/Rules/PlexTokenValidationRule.cs
  src/Configuration/src/Validation/Rules/ServiceValidationRule.cs
  src/Configuration/src/Validation/ValidationPipeline.cs
  src/Configuration/src/Validation/ValidationResult.cs
  src/Fetcharr.sln
  src/Models/src/Configuration/AppDataSetup.cs
  src/Models/src/Configuration/ConfigurationInclude.cs
  src/Models/src/Configuration/FetcharrConfiguration.cs
  src/Models/src/Environment.cs
  src/Models/src/Extensions/IServiceCollectionExtensions.cs
  src/Provider.Plex/src/PlexClient.cs
  src/Provider.Plex/src/PlexMetadataClient.cs
  src/Provider.Plex/src/PlexWatchlistClient.cs
  src/Provider.Radarr/src/RadarrClientCollection.cs
  src/Provider.Sonarr/src/SonarrClientCollection.cs
Labels: none

docs: Add documentation for new config tags
  docs/docs/configuration/basic-setup.mdx
  docs/docs/configuration/env_vars.mdx
  docs/docs/configuration/include.mdx
  docs/docs/configuration/index.mdx
  docs/docs/configuration/secrets.mdx
Labels: none

chore: Associate `.mdx` files with Markdown format
  .vscode/settings.json
Labels: none

style(docs): Remove accidental tabs
  docs/docs/configuration/basic-setup.mdx
Labels: none

feat: Add DevContainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/dependabot.yml
  .vscode/settings.json
Labels: none

fix: Bind Docusaurus to `0.0.0.0`
  .devcontainer/devcontainer.json
  docs/package.json
Labels: docs

feat(devcontainers): Add Docker-in-Docker support for PR checklist
  .devcontainer/devcontainer.json
Labels: none

ci: Test docs on PR against `develop`
  .github/workflows/test-docs.yml
Labels: build

ci: Set `package-lock.json` path
  .github/workflows/test-docs.yml
Labels: build

feat(devcontainers): Add Docker-in-Docker support for PR checklist
  .devcontainer/devcontainer.json
Labels: none

fix: Bind Docusaurus to `0.0.0.0`
  .devcontainer/devcontainer.json
  docs/package.json
Labels: docs

feat: Add DevContainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/dependabot.yml
  .vscode/settings.json
Labels: none

docs: Update `CONTRIBUTING.md` to include single-click setup environment
  CONTRIBUTING.md
Labels: none

docs: Update `CONTRIBUTING.md` to include single-click setup environment
  CONTRIBUTING.md
Labels: none

refactor: Streamline service registration
  src/API/src/Extensions/IServiceCollectionExtensions.cs
  src/API/src/Program.cs
  src/Testing/Services/BaseServiceTestingLayer.cs
Labels: none
